@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;600&family=Lobster&family=Philosopher:wght@400;700&display=swap');

*{
  margin:0;
  padding:0;
}
#header{
  height: 10%;
  margin-top: 1%;
  margin-bottom: 30px;
  font-size: 3em;
  font-family: 'Lobster', cursive;
  text-align:center;
  color:#0f9cb8;
  -webkit-text-stroke: 1px #000000;
  text-shadow: 1px 0 1px #000, 
0 1px 1px #000, 
-1px 0 1px #000, 
0 -1px 1px #000;
}
  
#main-part{
  font-size: 1.4em;
  font-family: 'Philosopher', sans-serif;
  
}
  
.wrapper{
  min-height:100%;
  width:100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  background: url(loblastBG.jpg) no-repeat center;
  background-attachment:fixed;
}

p{
  margin-left: 10px;
}

.rightpic {
  float: right; 
  margin: 10px 0 5px 5px; 
  text-align: center;
  margin-right: 20px;
 }

 .picture{
  box-shadow:
  inset 0 0 3px 1px rgba(0,0,0,.8),
  inset rgba(0,0,0,.3) -3px -3px 5px 3px,
  -5px -5px 10px rgba(0,0,0,.5);
  border-radius:20px;
 
}

#ship{
  margin-top: 150px;
  position: absolute;
  right: 0;
}
#text-ship{
  margin-top: 150px;
}
#cybelle{
  margin-top: 170px;
  position: absolute;
  right: 0;
}
#cybelle-text{
  margin-top: 170px;
}
#ill{
  margin-top: 150px;
  position: absolute;
  right: 0;
}
#text-ill{
  margin-top: 150px;
}
#ensifer{
  margin-top: 170px;
  position: absolute;
  right: 0;
}
#text-ensifer{
  margin-top: 170px;
  margin-bottom: 70px;
}


    
#footer{
  display: flex;
  flex-direction:column;
  align-items:center;
  height: 10%;
  color:#0f9cb8;
  font-size: 1.2em;
  -webkit-text-stroke: 0.5px #000000;
  font-family: 'Lobster', cursive;
}
#footer>p{
  margin-top: 3px;
  font-size: 0.9em;
}
