@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;600&family=Lobster&family=Philosopher:wght@400;700&display=swap');

*{
  margin:0;
  padding:0;
}

#header{
  height: 10%;
  margin-top: 1%;
  margin-bottom: 30px;
  font-size: 3em;
  /* font-family: 'Lobster', cursive; */
  text-align:center;
  color:#0f9cb8;
  -webkit-text-stroke: 1px #000000;
  text-shadow: 1px 0 1px #000, 
0 1px 1px #000, 
-1px 0 1px #000, 
0 -1px 1px #000;
}
  
#main-part{
 font-size: 1.5em;
 margin-left: 8px;
 min-height: 100%;
 font-family: 'Philosopher', sans-serif;
 padding-bottom: 100px;
}

p{
  margin-top: 12px;
}
h2{
  margin-top: 25px;
  margin-bottom: 17px;
  font-family: 'Philosopher', sans-serif;
  font-size: 2em;
  color:#8ab9cf;
  -webkit-text-stroke: 1.5px #000000
}
.list{
  margin-top: 25px;
  margin-bottom: 25px;
}

#wrapper{
    min-height:100%;
    display:flex;
    flex-direction: column;
    background-color: white;
    background: url('interiorBG.jpg') no-repeat top; 
    height:100%;
    width:100%;
    background-attachment:fixed;
}

.rightpic {
  float: right; 
  margin: 10px 0 5px 5px; 
  text-align: center;
  margin-right: 20px;
 }
 .picture{
  box-shadow:
  inset 0 0 3px 1px rgba(0,0,0,.8),
  inset rgba(0,0,0,.3) -3px -3px 5px 3px,
  -5px -5px 10px rgba(0,0,0,.5);
  border-radius:20px;
 }
 body::-webkit-scrollbar {
  width: 7px;               
}
body::-webkit-scrollbar-thumb {
  border-radius: 50px;    
  background-color: #6d7765;   
}


#footer{
  display: flex;
  flex-direction:column;
  align-items:center;
  min-height: 100px;
  color:#0f9cb8;
  font-size: 1.2em;
  padding-top: 100px;
  -webkit-text-stroke: 0.5px #000000;
  /* font-family: 'Lobster', cursive; */
}
#footer>p{
  margin-top: 3px;
  font-size: 0.9em;
}



@media(max-width: 940px){
p{
  margin-top: 17px;
}

#footer{
  margin-bottom: 5px;
}
  }
@media(max-width:840px){
}


@media(max-width: 580px){
#interior{
text-align:center
}
}
